<strong> Olá, {{ provider }}</strong>
<p>Houve um cancelamento de horário, confira os detahes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{user}} </br>
  <strong>Data/hora: </strong> {{date}} </br>
  <small>
    O horário está disponível novamente para agentamento
  </small>
</p>